body {
  font-family: 'Georgia', serif;
  font-size: 16px;
  line-height: 1.6;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}



.top-container{
    position: relative;
    background-color:#e4f9f5; 
}


.top-cloud{
    padding-right: 190px;
    position: absolute;
    float: right;
}

.intro{
    text-align: center;
    padding-top: 80px;
    font-family: "Sacramento", cursive;
    font-size: 20px;
    color: rgb(95, 194, 161);
    font-style: italic;
}


#pro{
    text-decoration: underline;
     
}

h2{
    font-family: "Montserrat", sans-serif !important;
}

.bottom-cloud{
    padding-left: 180px;
    position: absolute;
}

.mountain{
        overflow-clip-margin: content-box;
        padding-left: 460px;
    }

.my-info{
    text-align: center;
}

.my-img{
    border-radius: 50%;
    height: 100px;
    padding-top: 60px;
}

.my-skills{
    text-align: center;
}
.image-content{
    display: flex;
    padding-left: 250px;
    margin: 0 0 1.5em 0;
    text-align: left;  /* important: aligns paragraph to the left */
    word-spacing: 0.05em;
}

.cat-t{
    height: 200px;
    padding-right: 50px;
}
.image-content2{
    display: flex;
    padding-top: 50px;
    padding-left: 320px;
    margin: 0 0 1.5em 0;
    text-align: left;  /* important: aligns paragraph to the left */
    word-spacing: 0.05em;
    
}

.hot-c{
    height: 100px;
    padding-right: 80px;
}

hr{
    hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
}


.get-in-touch{
   text-align: center;
}

.contact-me{
    background-color:#1fe7c2 ;
    text-decoration: none;
    font-weight: 500;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    color: white;
    
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    /* background-image: linear-gradient(to bottom, #11cdd4, #11999e); */
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
a.btn {
    text-decoration: none;
    color: #ffffff;
}

h4{
   
    font-family: "Montserrat", sans-serif;
}

h2{
    font-family: "Montserrat", sans-serif;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.contact-me:hover{
    background-color: rgb(2, 255, 255);
    cursor: pointer;
}

.bottom-container{
    background-color: #66bfbf;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap:50px;
    padding-top: 30px;
    
}

.linked-in a{
    color: #145f5f !important;
    text-decoration: none; 
}

.Twitter a{
        color: #145f5f !important;
    text-decoration: none;
}

.Website a{
        color: #145f5f !important;
    text-decoration: none; 
}

.last-paragraph{
    padding-top:30px ;
    color: #ffffff;
    padding-right: 300px;
        background-color: #66bfbf;
        margin: 0;
        text-align: center;
        padding-left: 300px;
}

.theme{
    color: #66bfbf
}

